.jcarousel-skin-tango .jcarousel-container {
	padding: 0px;
	margin: 0px 0px 0px 0px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 100%;
	text-align: left;
	float: left;
}
.jcarousel-skin-tango .jcarousel-container-horizontal strong {
	font-size: 14px;
	color: #454545;
	display: block;
	margin-top: 7px;
	font-family: 'Open Sans';
	font-weight: 600;
	margin-left: 20px;
}
.jcarousel-skin-tango .jcarousel-container-horizontal i {
	font-family: 'Open Sans';
	font-size: 12px;
	font-weight: 600;
	color: #999;
	display: block;
	margin-left: 20px;
	margin-top: -3px;
	font-style: normal;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width: 100%;
	min-height: 200px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 235px;
    height: 200px;
	border-bottom: 1px solid #d6d6d6;
	box-shadow: 1px 0 1px 0px #d3d3d3;
}


.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 20px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: -46px;
    right: 0px;
    width: 26px;
    height: 27px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: -46px;
    right: 21px;
    width: 26px;
    height: 27px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}


.portfolio_sidebar_widget .jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: -62px;
    right: 0px;
    width: 26px;
    height: 27px;
    cursor: pointer;
    background: transparent url(next-horizontal.png) no-repeat 0 0;
}
.portfolio_sidebar_widget .jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: -62px;
    right: 21px;
    width: 26px;
    height: 27px;
    cursor: pointer;
    background: transparent url(prev-horizontal.png) no-repeat 0 0;
}



@media only screen and (min-width: 768px) and (max-width: 999px){

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 16px;
}

.jcarousel-skin-tango .jcarousel-next-horizontal {
    right: 0px;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    right: 21px;
}

.portfolio_sidebar_widget .jcarousel-skin-tango .jcarousel-next-horizontal {
    right: 0px;
}
.portfolio_sidebar_widget .jcarousel-skin-tango .jcarousel-prev-horizontal {
    right: 18px;
}

.portfolio_sidebar_widget .jcarousel-skin-tango .jcarousel-item {
    width: 185px;
    height: 180px;
}
.portfolio_sidebar_widget .jcarousel-skin-tango .jcarousel-item img {
    width: 185px;
	height: 180px;
}
.portfolio_sidebar_widget .jcarousel-skin-tango .item {
	width:185px;
	height:180px;
}
.portfolio_sidebar_widget .jcarousel-skin-tango .item .caption {
	width:165px;
	height:160px;
}
.portfolio_sidebar_widget .jcarousel-skin-tango .item .caption a {
	font-size:13px;	
}
.portfolio_sidebar_widget .jcarousel-skin-tango .item .caption p {
	line-height: 16px;
	font-size: 12px;
}
.portfolio_sidebar_widget .jcarousel-skin-tango .item .caption p i {
	font-size:45px;
	padding:22px 0px 0px 0px;
}


}


@media only screen and (min-width: 480px) and (max-width: 767px){

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 16px;
}

.jcarousel-skin-tango .jcarousel-next-horizontal {
    right: 0px;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    right: 21px;
}

}


@media only screen and (max-width: 479px){

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 70px;
}

.jcarousel-skin-tango .jcarousel-next-horizontal {
    right: 0px;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    right: 21px;
}
	
}
