#tabs {
	padding:0px;
	float:left;
	clear:both;
	width: 99%;
	margin-bottom:0px;
	margin-top: 10px;
	border: 1px solid #eee;
}
	
	ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	min-height: 45px;
 	width: 100%;
	background: #eee;
	}
	ul.tabs li {
		float: left;
		padding: 0;
		margin: 0 0 0 0px;
		min-height: 45px;
		line-height: 45px;
 		border-left: none;
		margin-bottom: -1px;
		overflow: hidden;
		position: relative;
		border-right: 2px solid #fff;
 	}
	ul.tabs li a {
		text-decoration: none;
		color: #454545;
		display: block;
		font-size: 14px;
 		outline: none;
 		cursor: pointer;
		text-align: center;
		padding: 0px 15px 0px 15px;
		background-color: #eee;
		font-family: 'Open Sans' !important;
		font-weight: normal;
		font-weight: 600;
	}
	ul.tabs li a:hover {
 	}
 	
	html ul.tabs li.active, html ul.tabs li.active a,  html ul.tabs li.active a:hover  { 
		color:#454545;
		background-color: #fff;
		border-top: 2px solid #ff8100;
		height: 44px;
 	}
	
	
.tab-container {
 	overflow: hidden;
	clear: both;
	float: left; 
	padding: 0px;
	width:100%;
	border-bottom: 3px solid #eee;

 }
	.tab-content {
	padding: 25px;
	background: #fff;
	}
	
.tab-content h3 { 
	font-size: 18px; 
	margin-bottom: 10px;
	color: #454545;
} 

@media only screen and (min-width: 1000px){}
@media only screen and (min-width: 768px) and (max-width: 999px){

#tabs {
	padding:0px;
	float:left;
	clear:both;
	width: 99.5%;
	margin-bottom:0px;
	margin-top: 10px;
	border: 1px solid #eee;
}
.tab-container {
 	overflow: hidden;
	clear: both;
	float: left; 
	padding: 20px 15px 10px 15px;
	width: 96%;
	background-color: #fff;
}
	
.tab-content {
	padding: 15px;
	font-size: 14px;
	background: #fff;
}

}


@media only screen and (min-width: 480px) and (max-width: 767px){

#tabs {
	padding:0px;
	float:left;
	clear:both;
	width: 99%;
	margin-bottom:0px;
	margin-top: 10px;
	border: 1px solid #eee;
}
.tab-container {
 	overflow: hidden;
	clear: both;
	float: left; 
	padding: 20px 15px 10px 15px;
	width: 93%;
	background-color: #fff;
}
.tab-content {
	padding: 5px;
	font-size: 14px;
	background: #fff;
}



}


@media only screen and (max-width: 479px){

#tabs {
	padding:0px;
	float:left;
	clear:both;
	width: 98%;
	margin-bottom:0px;
	margin-top: 10px;
	border: 1px solid #eee;
}
.tab-container {
 	overflow: hidden;
	clear: both;
	float: left; 
	padding: 20px 15px 10px 15px;
	width: 89%;
	background-color: #fff;
}
.tab-content {
	padding: 5px;
	font-size: 14px;
	background: #fff;
}

ul.tabs li a {
	font-size: 12px;
}

}
	